<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiFaceRec.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiFaceRec.MainSettings>
            <setting name="sourceDbPath" serializeAs="String">
                <value>D:\YandexDisk\Документы\univer\биометрика\лабораторная\Face</value>
            </setting>
            <setting name="formattedDbPath" serializeAs="String">
                <value>D:\YandexDisk\Документы\univer\биометрика\лабораторная\FaceSplit\FormattedDb</value>
            </setting>
            <setting name="testDbPath" serializeAs="String">
                <value>D:\YandexDisk\Документы\univer\биометрика\лабораторная\FaceSplit\TestDb</value>
            </setting>
            <setting name="trainedLabelsFileName" serializeAs="String">
                <value>TrainedLabels.txt</value>
            </setting>
            <setting name="maxLastDistance" serializeAs="String">
                <value>10000</value>
            </setting>
        </MultiFaceRec.MainSettings>
    </userSettings>
</configuration>